body{
  margin: 3vh 0;
}

.banner-outline{
  margin: 0;
  padding: 0.2rem 0;
  background-color: rgb(212, 19, 212);
}

.banner{
  margin: 0;
  padding: 4rem;
  background-color: rgb(240, 214, 240);
}


h1{
  margin: 10vh auto;
  font-size: 5rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}